.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.twitterIcon{
    
    color: var(--twitter-color);
    font-size: 50px !important;
    margin-bottom: 20px; 
}

.btn{
    cursor: pointer;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    color: var(--twitter-color);
    font-size: 20px;
    padding: 5px;
    

}
.btn:hover {
    background-color: #e8f5fe;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }